parameters:
    paths:
        - %currentWorkingDirectory%/
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/
        - %currentWorkingDirectory%/assets/
    scanDirectories:
        - ../woocommerce/
        - ../../../wp-includes/
        - ../../../wp-admin/
        - ../woocommerce-subscriptions
        - ../wordpress-develop-tests
    level: 1
